name: Publish to npm

on:
  push:
    branches:
      - main

# OIDC Permissions for Trusted Publishing
permissions:
  id-token: write # Required for OpenID Connect (OIDC) authentication
  contents: read # Allows checking out the repository code

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update npm CLI
        run: npm install -g npm@latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Publish package
        run: npm publish --access public
